@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.os-scrollbar {
  --os-handle-bg: #42498f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Urbanist, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;

  /* scollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #42498f;
    border-radius: 16px;
    transition:
      opacity 0.15s,
      background-color 0.15s,
      border-color 0.15s,
      width 0.15s;
  }

  scrollbar-width: thin;
  scrollbar-color: #42498f transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .hover-pause-child-animation:hover {
    & > * {
      animation-play-state: paused;
    }
  }
}

/* @keyframes slideInFromRight { */
/*   from { */
/*     transform: translateX(100%); */
/*   } */
/*   to { */
/*     transform: translateX(0); */
/*   } */
/* } */

@starting-style {
  .slideInFromRight {
    transform: translateX(100%);
  }
}

.allowDiscreteDisplay {
  transition: .3s ease allow-discrete
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-5%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideInFromTop {
  animation: slideInFromTop 0.5s ease-out;
}

.transition-accordionHeight {
  max-height: 0;
  transition:
    max-height 0.3s ease-out,
    opacity 0.3s ease-out;
  opacity: 0;
}

.accordionOpen {
  max-height: 332px;
  opacity: 1;
}

.border-gradient-purple-blue {
  position: relative;
  border-radius: 9999px;
  z-index: 1;
}

.border-gradient-purple-blue::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(to bottom, #9747ff, #27cdfe);
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude;
  z-index: -1;
}
